body,span{
  font-family: 'Athiti', sans-serif;
}
p.card-text {
  font-size: 20px;
}
av ul a{
  font-family: 'Athiti', sans-serif;
  font-size: 30px;
}
h2{
  font-family: 'Athiti', sans-serif;
  font-size: 3.5em !important;
  font-weight: bold;
}
h4{
  font-family: 'Athiti', sans-serif;
  font-size: 1.9em !important;
}
h5{
  font-family: 'Athiti', sans-serif;
  font-size: 1.5em !important;
}
.side-nav .userView .name, .side-nav .userView .email {
  font-size: 16px;
  line-height: 24px;
}
.side-nav a{
  font-size: 16px;
}
.section-head{
  margin-top: 5px;
  margin-bottom: -5px;
}
.navbar{
  font-family: 'Athiti', sans-serif;
  font-size: 1.3em;
}
.subtitle{
  padding-top: 5px;
}
.body{
  margin-top: 10px;

}
.left-menu-btn{
  margin-right: 10px;
}
.container{
  width: 85%;
}

body{
  background-color: whitesmoke;
}


.brand-logo{
  font-size: 20px !important;
}
.title{
  font-size: 2.3em;

}
.page-title{
  margin-top: 20px;
  margin-left: 10px;
}
.form-checkbox{
  margin-left: 10px;
}
.girlnumber{
  margin-top: -20px;
  margin-bottom: -20px;
}
.subtitle{
  font-size: 19px;
}
/*ul.side-nav {
    overflow: hidden;
}
ul.side-nav:hover {
    overflow-y: auto;
}*/
main{
  padding-left: 0px;
}
.info-img{
  width : 40%;
}
@media only screen and (max-width: 992px){
  main {
      padding-left: 0px;
  }
  .info-img{
    width : 80%;
}
